---
//css
import '../styles/global.css';
import '../styles/index.css';
//components
import Sidebar from '../components/sidebar.astro';
// buildtime
import pkg from '../../package.json';
import dayjs from 'dayjs';
const { version } = pkg;
const BuiltTime = dayjs().format('YYYY-MM-DD HH:mm:ss ([UTC]ZZ)');
//MD
const { 
  title = "Home", 
  activeid = "default", 
  isChild = false
} = Astro.props;
import { marked } from 'marked';
let content = "";
if (!isChild) {
  const res = await fetch('https://raw.githubusercontent.com/mokanove/mokanove/main/README.md');
  content = await marked.parse(await res.text());
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | MoKanove</title>
    <script define:vars={{ version , BuiltTime}}>
      console.log(`V${version} ${BuiltTime}`);
    </script>
  </head>
  <body>
    <div class="container">
      <Sidebar activeId={activeid} />
      <main class="pages-wrapper">
        <section class="page-entry active">
          <div class="content-viewport">
            {isChild ? (
              <slot />
            ) : (
              <article class="markdown-body" set:html={content} />
            )}
          </div>
        </section>
      </main>
    </div>
  </body>
</html>